<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0 && mostrarCursos; else showIfNotExists">
  Lista de cursos aqui.
</div>

<!-- Por baixo dos panos do ngIf -->
<template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui</div>
</template>

<div template="ngIf mostrarCursos">
  <div>Lista de cursos aqui</div>
</div>

<!--  -->

<ng-template #showIfNotExists
  >Não existem cursos para serem listados.</ng-template
>

<br />
<br />
<button (click)="mostrarOuEsconderCursos()">
  {{ mostrarCursos ? "Esconder" : "Mostrar" }} cursos
</button>
